<h1>{{pageTitle}}:</h1>
<br />
<button (click)="onLogout()">Logout</button>
<br />
<button (click)="onGoToDirectivesPage()">Go to directives page</button>
<br />
<h3>A contagem está em: {{ count }}</h3>

<app-todo-card 
    *ngFor="let todo of todos"
    [todoInput]="todo" 
    (delete)="onDeleteTodo($event)">
</app-todo-card>

<br />
<span *ngIf="showErrorMessage">Houve um problema ao criar um novo todo! Erro: {{errorMessage}}</span>
<br />
<button (click)="addNewTodo()">Add new Todo</button>
<br /> <br />
<button (click)="refreshTodos()">Refresh todos</button>